main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #333;
    color: white;
}

.stageContainer {
    background-color: coral;
    flex: 1;
}

/* Range slider styling */
input[type="range"] {
    width: 200px;
}
